html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Roboto Condensed';
    font-size: 96px;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
}

/*Start block header*/

.header {
    box-shadow: 0px 0px 2px 0px #9B9B9B7F;
    display: flex;
    width: 1440px;
    margin: 0 auto;
}

.bg {
    background-color: #2B4074;
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-link {
    padding-left: 153px;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
    padding-right: 135px;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 2px 0px #9B9B9B7F;
    z-index: 1;
}

.menu-content a {
    color: #4A4A4A;
    padding: 12px 16px;
    font-family: 'Roboto';
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    background-color: #ddd;
}

.dropdown-menu:hover .menu-content {
    display: block;
}

/*End block header*/

/*Start block intro*/
.intro {
    position: relative;
    display: flex;
    width: 1440px;
    height: 668px;
    margin: 0 auto;
    flex-direction: column;
    background-image: url(../images/intro-background.svg);
}

.intro-teatle {
    width: 514px;
    height: 192px;
    color: #FFFFFF;
    margin: 107px auto 18px auto;
}

.intro-text {
    width: 886px;
    height: 60px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 80px;
    margin: 0 auto 28px auto;
}

.intro-text-slider .intro-text {
    display: none;
}

.intro-text-slider .intro-text.active {
    display: block;
}

.intro-buttons {
    display: flex;
    width: 200px;
    height: 50px;
    background-color: #2B4074;
    margin: 0 auto 213px auto;
    align-content: center;
}

.intro-button-more {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #F9F6E5;
    text-decoration: none;
    padding: 8% 23%;
}

.intro-buttons:hover {
    background-color: #6e93f1;
}


/*End block intro*/