html {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Roboto Condensed';
    font-size: 96px;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
}

/*Start block header*/

.header {
    box-shadow: 0px 0px 2px 0px #9B9B9B7F;
    display: flex;
    width: 1440px;
    margin: 0 auto;
}

.bg {
    background-color: #2B4074;
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-link {
    padding-left: 153px;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
    padding-right: 135px;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 2px 0px #9B9B9B7F;
    z-index: 1;
}

.menu-content a {
    color: #4A4A4A;
    padding: 12px 16px;
    font-family: 'Roboto';
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    background-color: #ddd;
}

.dropdown-menu:hover .menu-content {
    display: block;
}

/*End block header*/

/*Start block intro*/
.intro {
    position: relative;
    display: flex;
    width: 1440px;
    height: 668px;
    margin: 0 auto;
    flex-direction: column;
    background-image: url(../images/intro-background.png);
}

.intro-teatle {
    width: 514px;
    height: 192px;
    color: #FFFFFF;
    margin: 107px auto 18px auto;
}

.intro-text {
    width: 886px;
    height: 60px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 80px;
    margin: 0 auto 28px auto;
}

.intro-text-slider .intro-text {
    display: none;
}

.intro-text-slider .intro-text.active {
    display: block;
}

.intro-buttons {
    display: flex;
    width: 200px;
    height: 50px;
    background-color: #2B4074;
    margin: 0 auto 139px auto;
    align-content: center;
}

.intro-button-more {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #F9F6E5;
    text-decoration: none;
    padding: 8% 23%;
}

.intro-buttons:hover {
    background-color: #6e93f1;
}

.controls {
    position: relative;
    margin: 0 auto;
}

.buttons-slider {
    position: absolute;
    bottom: 50%;
    right: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn-prev,
.btn-next {
    background: rgba(43, 64, 116, 1);
}

.btn-prev:hover,
.btn-next:hover {
    background: rgba(249, 246, 229, 1);
    cursor: pointer;
}

/*End block intro*/
/*Start block promo*/
.promo {
    display: flex;
    margin: 0 auto;
    width: 1440px;
    height: 192px;
    background: #2B4074;
    color: #FFFFFF;
    position: relative;
    flex-direction: column;
}

.promo-teatle {
    width: 557px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin: 57px auto 4px 150px;
}

.promo-text {
    position: absolute;
    top: 93px;
    height: 42px;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    margin: 0 auto 57px 150px;
}


.promo-button {
    position: relative;
    width: 200px;
    height: 50px;
    top: -50px;
    margin: auto 135px auto auto;
    background-color: #F9F6E5;
    justify-content: center;
}


.promo-button-call {
    position: relative;
    top: 20px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: #2B4074;
    text-decoration: none;
    padding: 16px 9px;
}

/*End block promo*/
/*Start block services*/
.services {
    width: 1440px;
    height: 547px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services-left {
    width: 516px;
    height: 547px;
    margin: 0 auto;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
}

.services-title {
    position: relative;
    width: 131px;
    height: 56px;
    top: 90px;
    left: 62px;
    font-family: 'Roboto Condensed';
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: left;
    color: #2B4074;
}

.services-content {
    position: relative;
    width: 393px;
    height: 278px;
    top: 134px;
    left: 62px;

}

.services-slogan {
    position: relative;
    width: 393px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #4A4A4A;
}

.services-line {
    position: relative;
    width: 98.74px;
    height: 8px;
    top: 30px;
    background-color: #2B4074;
}

.services-manual {
    position: relative;
    width: 351px;
    height: 68px;
    top: 74px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #797979;
}

.services-items {
    position: relative;
    width: 921px;
    height: 547px;
}

.services-icon-wrapper {
    position: relative;
    width: 853px;
    height: 467px;
    /*top: 79px;*/
    left: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
}

.services-icon {
    display: block;
    width: 25%;
    height: 270px;
    border: 1px solid #F9F6E5;
    margin: auto;
}

.services-image {
    display: block;
    padding-top: 35%;
    margin: auto;
}

.services-icon-text {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #4A4A4A;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}

.services-hide-text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #9B9B9B;
    visibility: hidden;
}

.services-hide-button {
    visibility: hidden;
}

.services-hide-button a {
    text-decoration: none;
}

.services-icon:hover {
    border: 4px solid #2B4074;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: auto;
}

.services-icon:hover .services-icon-text {
    padding-top: 15px;
    transition: all 0.3s ease-in-out;
}

.services-icon:hover .services-image {
    padding-top: 25px;
    transition: all 0.3s ease-in-out;
}

.services-icon:hover .services-hide-text {
    visibility: visible;
    margin-top: 21px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.services-icon:hover .services-hide-button {
    visibility: visible;
    text-decoration: none;
    margin-top: 18px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    color: #2B4074;
    transition: all 0.3s ease-in-out;
}

/*End block services*/
/*Start block recent work*/
.recent-work {
    width: 1440px;
    height: 618px;
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);

}

.recent-work-wraper {
    position: relative;
    width: 1152px;
    height: 668px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.recent-work-teatle-text {
    position: relative;
    width: 318.5px;
    height: 52px;
    margin: 80px auto 0 auto;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}

.recent-work-teatle-line {
    position: relative;
    width: 100px;
    height: 8px;
    background: #FFFFFF;
    margin: 24px auto 0 auto;
}

.recent-work-pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recent-work-picture-block {
    position: relative;
    width: 1138px;
    height: 294px;
    margin: 80px auto 0 auto;
}

.recent-work-picture {
    width: 268px;
    height: 239px;
}

.recent-work-picture img {
    width: 268px;
    height: 239px;
    border-radius: 5px;
}

.recent-work-picture-text {
    position: relative;
    width: 263px;
    height: 26px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    color: #2B4074;
    margin: 29px auto 0 auto;
}

.recent-work-picture-hover {
    position: relative;
    display: flex;
    justify-content: center;
    width: 243px;
    height: 217px;
    top: -230px;
    left: 13px;
    align-items: center;
    visibility: hidden;
    background: #F9F6E5;
}

.recent-work-picture-hover a>img {
    width: 32px;
    height: 32px;
    margin: 0 5px;
}

.recent-work-picture:hover .recent-work-picture-hover {
    visibility: visible;
    opacity: 0.7;
}

/*End block recent work*/
/*Start block video*/
.video {
    width: 1440px;
    height: 580px;
}

.video-wraper {
    position: relative;
    width: 1152px;
    height: 420px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.video-wraper-image {
    margin-left: 0px;
}

.video-wraper-content {
    position: relative;
    width: 50%;
}

.video-title {
    position: relative;
    width: 192px;
    height: 52px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 30px;
    color: #4A4A4A;
}

.video-line {
    position: relative;
    width: 113.48px;
    height: 8px;
    margin-bottom: 39px;
    background: #2B4074;

}

.video-content {
    width: 506px;
    height: 192px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 39px;
    color: #9B9B9B;

}

.video-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 60px;
    background: #2B4074;
    border-radius: 3px;
}

.video-button a {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: #F9F6E5;
}

/*End block video*/
/*Start block latest news*/
.latest-news {
    width: 1441px;
    height: 1044px;
    background: #F9F6E5;
    display: flex;
    justify-content: center;
}

.latest-news-wraper {
    position: relative;
    width: 1153px;
    height: 714px;
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-news-title {
    width: 317px;
    height: 56px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    text-align: center;
    color: #4A4A4A;
    margin-bottom: 19px;
}

.latest-news-line {
    position: relative;
    width: 100px;
    height: 8px;
    background-color: #2B4074;
    margin-bottom: 115px;
}

.latest-news-content {
    width: 1153px;
}

.latest-news-div-picture {
    width: 270px;
    margin-bottom: 50px;
}



.latest-news-div-picture img {
    border-radius: 5px;
}

.latest-picture-height-444 {
    width: 270px;
    height: 444px;
}

.latest-picture-height-342 {
    width: 270px;
    height: 342px;
}

.latest-picture-height-383 {
    width: 270px;
    height: 383px;
}

.latest-picture-height-210 {
    width: 270px;
    height: 210px;
}

.latest-picture-height-197 {
    width: 270px;
    height: 197px;
}

.latest-picture-height-218 {
    width: 270px;
    height: 218px;
}

.latest-picture-height-437 {
    width: 270px;
    height: 437px;
}

.latest-news-div-picture:hover {
    .latest-news-text {
        top: -80px;
        width: 270px;
        height: 40px;
        margin: auto;
        padding-left: 19px;
        align-items: center;
        color: #F9F6E5;
        background-color: #2B4074;        
    }

    .latest-news-image {
        box-sizing: border-box;
        position: relative;
        width: 270px;
        background: rgba(43, 64, 116, 0.3);
        border: 10px solid #2B4074;
        border-radius: 4px;
    }
    transition: all 0.3s ease-in-out;
}

.latest-news-text {
    position: relative;
    width: 229px;
    height: 22px;
    top: 8px;
    margin: auto;
    text-align: left;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    letter-spacing: 2px;
    color: #4A4A4A;
}

/*End block latest news*/
/*Start block testimonial*/
.testimonial {
    position: relative;
    width: 1440px;
    height: 480px;
    background: #FFFFFF;
}

.testimonial-wraper {
    position: relative;
    width: 1153px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
}

/*End block testimonial*/