html {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
}

/*Start block header*/

.header {
    box-shadow: 0px 0px 2px 0px #9B9B9B7F;
    display: flex;
    width: auto;
    margin: 0 auto;
}

.bg {
    background-color: #2B4074;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

.dropdown-menu .menu-btn {
    padding: 0%;
    width: 45px;
    height: 45px;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #2B4074;
    box-shadow: 0px 0px 2px 0px #9B9B9B7F;
    z-index: 1;
}

.menu-content a {
    color: #FFFFFF;
    padding: 12px 16px;
    font-family: 'Roboto';
    text-decoration: none;
    display: block;

}

.menu-content a:hover {
    background-color: #ddd;
}

.dropdown-menu:hover .menu-content {
    display: block;
}

/*End block header*/

/*Start block intro*/
.intro {
    position: relative;
    display: flex;
    width: auto;
    margin: 0 auto;
    flex-direction: column;
    background-repeat: no-repeat;
}

.intro-teatle {
    width: 514px;
    color: #FFFFFF;
}

.intro-text {
    width: 886px;
    height: 60px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    padding: 0 80px;
    margin: 0 auto 28px auto;
}

.intro-text-slider .intro-text {
    display: none;
}

.intro-text-slider .intro-text.active {
    display: block;
}

.intro-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 50px;
    background-color: #2B4074;
    align-content: center;
    margin: 0 auto;
}

.intro-button-more {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #F9F6E5;
    text-decoration: none;
    padding: 8% 23%;
}

.intro-buttons:hover {
    background-color: #6e93f1;
}

.controls {
    position: relative;
    margin: 0 auto;
}

.buttons-slider {
    right: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn-prev,
.btn-next {
    background: rgba(43, 64, 116, 1);
}

.btn-prev:hover,
.btn-next:hover {
    background: rgba(249, 246, 229, 1);
    cursor: pointer;
}

/*End block intro*/
/*Start block promo*/
.promo {
    display: flex;
    margin: 0 auto;
    width: auto;
    background: #2B4074;
    color: #FFFFFF;
    position: relative;
    flex-direction: column;
}

.promo-teatle {
    width: 557px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
}

.promo-text {
    height: 42px;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
}


.promo-button {
    display: flex;
    width: 200px;
    height: 50px;
    background-color: #F9F6E5;
}


.promo-button-call {

    font-family: 'Roboto', system-ui;
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0px;
    color: #2B4074;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

/*End block promo*/
/*Start block services*/
.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services-left {
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
}

.services-title {
    position: relative;
    font-family: 'Roboto Condensed';
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0px;
    color: #2B4074;
}

.services-content {
    position: relative;

}

.services-slogan {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #4A4A4A;
}

.services-line {
    position: relative;
    width: 98.74px;
    height: 8px;
    top: 30px;
    background-color: #2B4074;
}

.services-manual {
    position: relative;
    top: 74px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #797979;
}

.services-items {
    position: relative;
}

.services-icon-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
}

.services-icon {
    display: block;
    width: 25%;
    height: 270px;
    border: 1px solid #F9F6E5;
    margin: auto;
}

.services-image {
    display: block;
    padding-top: 35%;
    margin: auto;
}

.services-icon-text {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #4A4A4A;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}

.services-hide-text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #9B9B9B;
    visibility: hidden;
}

.services-hide-button {
    visibility: hidden;
}

.services-hide-button a {
    text-decoration: none;
}

.services-icon:hover {
    border: 4px solid #2B4074;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: auto;
}

.services-icon:hover .services-icon-text {
    padding-top: 15px;
    transition: all 0.3s ease-in-out;
}

.services-icon:hover .services-image {
    padding-top: 25px;
    transition: all 0.3s ease-in-out;
}

.services-icon:hover .services-hide-text {
    visibility: visible;
    margin-top: 21px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.services-icon:hover .services-hide-button {
    visibility: visible;
    text-decoration: none;
    margin-top: 18px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    color: #2B4074;
    transition: all 0.3s ease-in-out;
}

/*End block services*/
/*Start block recent work*/
.recent-work {
    width: auto;
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);

}

.recent-work-wraper {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.recent-work-teatle-text {
    position: relative;
    width: 318.5px;
    margin: 80px auto 0 auto;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}

.recent-work-teatle-line {
    position: relative;
    width: 100px;
    height: 8px;
    background: #FFFFFF;
    margin: 24px auto 0 auto;
}

.recent-work-pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recent-work-picture-block {
    position: relative;
    width: auto;
    justify-content: space-around;
}


.recent-work-picture img {
    border-radius: 5px;
}

.recent-work-picture-text {
    position: relative;
    width: 263px;
    height: 26px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    color: #2B4074;
    margin: 29px auto 0 auto;
}

.recent-work-picture-hover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background: #F9F6E5;
}

.recent-work-picture-hover a>img {
    width: 32px;
    height: 32px;
    margin: 0 5px;
}

.recent-work-picture:hover .recent-work-picture-hover {
    visibility: visible;
    opacity: 0.7;
}

/*End block recent work*/
/*Start block video*/
.video {
    width: auto;
}

.video-wraper {
    position: relative;
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}



.video-wraper-content {
    position: relative;
    width: 50%;
}

.video-title {
    position: relative;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
    color: #4A4A4A;
}

.video-line {
    position: relative;
    width: 113.48px;
    height: 8px;
    background: #2B4074;

}

.video-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
    margin-bottom: 39px;
    color: #9B9B9B;

}

.video-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 60px;
    background: #2B4074;
    border-radius: 3px;
}

.video-button a {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: #F9F6E5;
}

/*End block video*/
/*Start block latest news*/
.latest-news {
    width: auto;
    background: #F9F6E5;
    display: flex;
    justify-content: center;
}

.latest-news-wraper {
    position: relative;
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-news-title {
    width: 317px;
    height: 56px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    display: flex;
    text-align: center;
    color: #4A4A4A;
    margin-bottom: 19px;
    margin-left: auto;
    margin-right: auto;
}

.latest-news-line {
    position: relative;
    width: 100px;
    height: 8px;
    background-color: #2B4074;
    margin-left: auto;
    margin-right: auto;
}

.latest-news-content {
    width: 100%;

}

.latest-news-div-picture {
    width: 25%;
    margin-bottom: 50px;

}

.latest-news-div-picture img {
    border-radius: 5px;
}

.latest-picture-height-444 {
    width: 270px;
    height: 444px;
}

.latest-picture-height-342 {
    width: 270px;
    height: 342px;
}

.latest-picture-height-383 {
    width: 270px;
    height: 383px;
}

.latest-picture-height-210 {
    width: 270px;
    height: 210px;
}

.latest-picture-height-197 {
    width: 270px;
    height: 197px;
}

.latest-picture-height-218 {
    width: 270px;
    height: 218px;
}

.latest-picture-height-437 {
    width: 270px;
    height: 437px;
}

.latest-news-div-picture:hover {
    .latest-news-text {
        top: -30%;
        width: 270px;
        margin: auto;
        padding-left: 19px;
        color: #F9F6E5;
        background-color: #2B4074;
    }

    .latest-news-image {
        box-sizing: border-box;
        position: relative;
        width: 270px;
        background: rgba(43, 64, 116, 0.3);
        border: 10px solid #2B4074;
        border-radius: 4px;
    }

    transition: all 0.3s ease-in-out;
}

.latest-news-text {
    position: relative;
    display: flex;
    width: auto;
    height: 40px;
    /*top: 8px;*/
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    letter-spacing: 2px;
    color: #4A4A4A;
    padding-left: 20px;
    background-color: #FFFFFF;
}

.latest-news-button-hover {
    position: relative;
    display: flex;
    justify-content: center;
    top: -80%;
    align-items: center;
    margin-bottom: 10%;
    visibility: hidden;
}

.latest-news-button-hover a>img {
    width: 32px;
    height: 32px;
}

.latest-news-div-picture:hover .latest-news-button-hover {
    visibility: visible;
}

/*End block latest news*/
/*Start block testimonial*/
.testimonial {
    position: relative;
    width: auto;
    background: #FFFFFF;
}

.testimonial-wraper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-coma {
    width: 32px;
    height: 14px;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-slider {
    height: 164px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #4A4A4A;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.testimonial-text {
    margin: 0 auto;
}

.testimonial-author {
    height: 28px;
    margin-top: 30px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    color: #4A4A4A;

}

.testimonial-slider span {
    font-weight: 700;
    color: #2B4074;
}

.testimonial-slider .testimonial-text {
    display: none;
}

.testimonial-slider .testimonial-text.active {
    display: block;
}

.testimonial-wraper .controls .radio-buttons input:checked {
    color: red;
}

/*End block testimonial*/
/*Start block footer*/
.footer {
    width: auto;
    background-color: #FFFFFF;
}

.footer-di-gi {
    position: relative;
    z-index: 1;
    background-color: #2B4074;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-wraper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #2B4074;
}

.footer-text {
    position: absolute;
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 2px;
    text-align: left;
    color: #FFFFFF;

}

.footer-social {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-widgets {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.footer-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer-widget a,
.footer-address {
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}

.footer-widget h1 {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
    color: #F9F6E5;

}

/*End block footer*/
/*Start block copiryght*/
.copiryght {
    position: relative;
    width: auto;
    height: 42px;
    background-color: #F9F6E5;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.copiryght-wraper {
    padding-top: 15px;
    width: 100%;
    height: 42px;
    position: relative;
}

.copiryght-wraper a {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
}

.copiryght-wraper div {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    color: #4A4A4A;
    margin-right: 24px;
}

.copiryght-wraper img {
    width: 30px;
    height: 15px;
}

/*End block copiryght*/

/*********************************************************/
/*Adaptive part
/*********************************************************/
/* Devices (320px and up) */
@media only screen and (min-width: 0px) {
    body {
        width: 320px;
    }

    h1 {
        font-size: 28px;
        line-height: 28px
    }

    .header-logo-link {
        padding-left: 0%;
        margin-left: 25px;
    }

    .dropdown-menu {
        margin-right: 25px;
        padding-right: 0%;
    }

    .intro {
        width: 100%;
        height: 193px;
        background-size: 100%;
        background-image: url(../images/intro-background320.png);

    }

    .intro-teatle {
        width: 260px;
        margin: 36px auto 20px auto;
    }

    .intro-text {
        width: 61px;
        height: 8px;
        padding: 0;
        background-color: #4A4A4A;
        font-size: 0px;
        line-height: 20px;
        margin-bottom: 28px;
    }

    .intro-buttons {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    .buttons-slider {
        width: 0;
        height: 0;
        visibility: hidden;
        bottom: 220px;

    }

    .promo {
        height: 300px;

    }

    .promo-teatle {
        width: 220px;
        font-size: 24px;
        line-height: 24px;
        margin: 40px auto 0 auto;
        text-align: center;
    }

    .promo-text {
        width: auto;
        font-size: 16px;
        line-height: 18px;
        margin: 10px 20px 0 20px;
        text-align: center;

    }

    .promo-button {
        margin: 40px auto auto auto;
    }

    .services {
        width: 100%;
    }

    .services-left {
        width: 100%;
    }

    .services-left:first-child {
        align-items: center;
    }

    .services-title {
        margin: 25px auto 20px auto;
        text-align: center;
    }

    .services-content {
        width: 100%;

    }

    .services-slogan {
        width: 280px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }

    .services-manual {
        width: 280px;
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 40px;
    }

    .services-line {
        margin-left: auto;
        margin-right: auto;

    }

    .services-manual {
        margin-left: auto;
        margin-right: auto;
        text-align: center;

    }

    .services-items {
        width: 100%;
        margin: 105px auto 12px auto;
    }

    .services-icon-wrapper {
        width: 100%;

    }

    .services-icon {
        width: 100%;
    }

    .recent-work-teatle-text {
        margin: 20px auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        font-size: 24px;
        line-height: 28px;

    }

    .recent-work-teatle-line {
        width: 50px;
        height: 8px;
    }

    .recent-work-pictures {
        margin-left: 20px;
        margin-right: 20px;
    }

    .recent-work-picture {
        width: 280px;
        height: 250px;
    }

    .recent-work-picture img {
        width: 280px;
        height: 250px;

    }

    .recent-work-picture-block {
        margin: 20px auto 20px auto;
    }

    .recent-work-picture-hover {
        width: 260px;
        height: 230px;
        top: -242px;
        left: 10px;

    }

    .video-wraper {
        margin: 40px auto;
        flex-wrap: wrap;
    }

    .video-wraper-image {
        margin-left: auto;
        margin-right: auto;
    }

    .video-wraper-image img {
        width: 280px;
        height: 240px;
    }

    .video-wraper-content {
        width: 280px;
        margin: 40px 20px 53px 20px;
    }

    .video-content {
        width: 280px;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 56px;
        text-align: center;

    }

    .video-title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 280px;
        height: 32px;
    }

    .video-line {
        width: 45px;
        height: 8px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .video-button {
        margin-left: auto;
        margin-right: auto;
    }


    .latest-news-title {
        width: 280px;
        font-size: 24px;
        line-height: 38px;
        justify-content: center;

    }

    .latest-news-line {
        width: 50px;
        height: 8px;
        margin-bottom: 60px;
    }

    .latest-news-wraper {
        width: 280px;

    }

    .latest-news-content {
        left: auto;
    }

    .testimonial-wraper .controls {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .testimonial-coma {
        font-size: 34px;
        line-height: 14px;
        margin-top: 60px;

    }

    .testimonial-slider {
        width: 280px;
    }

    .testimonial-text {
        font-size: 24px;
        line-height: 28px;
        word-wrap: normal;

    }

    .testimonial-author {
        font-size: 20px;
        line-height: 23px;

    }

    .footer-di-gi {
        width: 230px;
        height: 60px;
    }

    .footer-wraper {
        height: 1100px;
        top: -30px;

    }

    .footer-text {
        font-size: 20px;
        line-height: 22px;
        margin-left: auto;
        margin-top: 85px;
        margin-bottom: 40px;
        text-align: center;

    }

    .footer-social {
        width: 25px;
        flex-wrap: wrap;
        margin-left: 156px;
        margin-right: 139px;
        margin-top: 212px;
    }

    .footer-cell {
        width: 25px;
        height: 36px;
        border-style: hidden;
    }

    .footer-contact {
        border-left-style: hidden;
    }

    .footer-menu {
        border-right-style: hidden;
    }

    .footer-widgets {
        width: 100%;
        margin-top: 400px;
    }

    .footer-widget {
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-widget a,
    .footer-address {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .footer-widget h1 {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 20px;
        text-align: center;

    }

    .copiryght {
        height: 142px;
        align-items: center;
    }

    .copiryght-wraper {
        width: auto;
        margin-top: 0;
        padding-top: 0;
    }

    .copiryght-wraper div {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .copiryght-wraper a {
        flex-direction: column;
        align-items: center;
    }

}

/* Devices (640px and up) */
@media only screen and (min-width: 640px) {
    body {
        width: 640px;
    }

    h1 {
        font-size: 60px;
        line-height: 60px
    }

    .header-logo-link {
        padding-left: 0%;
        margin-left: 53px;
    }

    .dropdown-menu {
        margin-right: 30px;
        padding-right: 0%;
    }

    .intro {
        width: 100%;
        height: 386px;
        background-size: 100%;
        background-image: url(../images/intro-background640.png);

    }

    .intro-teatle {
        width: 360px;
        margin: 50px auto 7px auto;
    }

    .intro-text {
        width: 61px;
        height: 8px;
        padding: 0;
        background-color: #4A4A4A;
        font-size: 0px;
        line-height: 20px;
        margin-bottom: 28px;
    }

    .intro-buttons {
        margin-bottom: 30px;
        margin-top: 30px;
        width: 200px;
        height: 50px;
        visibility: visible;
    }

    .buttons-slider {
        bottom: 220px;
        visibility: visible;
        width: auto;

    }

    .promo {
        height: 254px;

    }

    .promo-teatle {
        width: 580px;
        font-size: 24px;
        line-height: 24px;
        margin: 40px auto 0 auto;
        text-align: center;
    }

    .promo-text {
        width: auto;
        font-size: 16px;
        line-height: 18px;
        margin: 10px auto 0px auto;
        text-align: center;

    }

    .promo-button {
        margin: 40px auto auto auto;
    }

    .services {
        width: 100%;
    }

    .services-left {
        width: 100%;
    }

    .services-left:first-child {
        align-items: center;
    }

    .services-title {
        margin: 24px auto 12px auto;
        text-align: center;
    }

    .services-content {
        width: 100%;

    }

    .services-slogan {
        width: 560px;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }

    .services-manual {
        width: 600px;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 27px;
    }

    .services-line {
        margin-left: auto;
        margin-right: auto;

    }

    .services-manual {
        margin-left: auto;
        margin-right: auto;
        text-align: center;

    }

    .services-items {
        width: 100%;
        margin: 105px auto 12px auto;
    }

    .services-icon-wrapper {
        width: 100%;

    }

    .services-icon {
        width: 50%;
    }

    .recent-work-teatle-text {
        font-size: 48px;
        line-height: 56px;

    }

    .recent-work-teatle-line {
        width: 100px;
        height: 8px;
    }

    .recent-work-pictures {
        margin-left: 53px;
        margin-right: 53px;
    }

    .recent-work-picture {
        width: 518px;
        height: 460px;
    }

    .recent-work-picture img {
        width: 518px;
        height: 460px;

    }

    .recent-work-picture-block {
        margin: 43px auto 43px auto;
    }

    .recent-work-picture-hover {
        width: 470px;
        height: 440px;
        top: -453px;
        left: 26px;

    }

    .video-wraper {
        margin: 40px auto;
        flex-wrap: wrap;
    }

    .video-wraper-image {
        margin-left: auto;
        margin-right: auto;
    }

    .video-wraper-image img {
        width: 520px;
        height: 478px;
    }

    .video-wraper-content {
        width: 560px;
        margin: 40px 40px 53px 40px;
    }

    .video-content {
        width: 560px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 56px;
        text-align: center;

    }

    .video-title {
        font-size: 36px;
        line-height: 38px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 320px;
        height: 40px;
    }

    .video-line {
        width: 88px;
        height: 8px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .video-button {
        margin-left: auto;
        margin-right: auto;
    }

    .latest-news-title {
        font-size: 48px;
        line-height: 38px;
        justify-content: center;
        margin-bottom: 20px;
        width: 560px;
    }

    .latest-news-line {
        width: 100px;
        height: 8px;
        margin-bottom: 60px;
    }

    .latest-news-wraper {
        width: 570px;

    }

    .latest-news-content {
        left: auto;
    }

    .testimonial-wraper .controls {
        margin-bottom: 40px;
        margin-top: 80px;
    }

    .testimonial-coma {
        margin-top: 60px;
        font-size: 34px;
        line-height: 14px;
    }

    .testimonial-slider {
        width: 400px;
    }

    .testimonial-text {
        font-size: 32px;
        line-height: 38px;
        word-wrap: normal;

    }

    .testimonial-author {
        font-size: 20px;
        line-height: 23px;

    }

    .footer-di-gi {
        width: 230px;
        height: 60px;
    }

    .footer-wraper {
        height: 632px;
        top: -30px;

    }

    .footer-text {
        font-size: 24px;
        line-height: 26px;
        margin-left: 45px;
        margin-top: 85px;
        margin-bottom: 40px;
        text-align: left;

    }

    .footer-social {
        width: 560px;
        height: 70px;
        margin-left: 45px;
        margin-right: 45px;
        margin-top: 188px;
    }

    .footer-cell {
        width: 25%;
        height: 63px;
        border: 1px solid #7EBF84
    }

    .footer-cell:first-child {
        border-left: none;
    }

    .footer-cell:last-child {
        border-right: none;
    }

    .footer-contact {
        border-left-style: hidden;
    }

    .footer-menu {
        border-right-style: hidden;
    }

    .footer-widgets {
        width: 560px;
        margin-left: 45px;
        margin-top: 285px;
        margin-bottom: 56px;
    }

    .footer-widget {
        width: 50%;
        margin-bottom: 40px;
        text-align: left;
    }

    .footer-widget a,
    .footer-address {
        font-size: 16px;
        line-height: 20px;
        text-align: left;
    }

    .footer-widget h1 {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 22px;
        text-align: left;

    }

    .copiryght {
        height: 42px;
        justify-content: end;
    }

    .copiryght-wraper {
        width: auto;
        margin-right: 15px;
        padding-top: 15px;
    }

    .copiryght-wraper div {
        margin-bottom: 0;
        margin-right: 24px;
    }

    .copiryght-wraper a {
        flex-direction: row;
    }

}

/* Devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        width: 768px;
    }

    h1 {
        font-size: 60px;
        line-height: 60px
    }

    .header-logo-link {
        padding-left: 0%;
        margin-left: 44px;
    }

    .dropdown-menu {
        margin-right: 44px;
        padding-right: 0%;
    }

    .intro {
        width: 100%;
        height: 465px;
        background-size: 100%;
        background-image: url(../images/intro-background768.png);

    }

    .intro-teatle {
        width: 500px;
        margin: 87px auto 25px auto;
    }

    .intro-text {
        width: auto;
        font-size: 18px;
        line-height: 20px;
        background-color: transparent;
        margin-bottom: 32px;
    }

    .intro-buttons {
        margin-bottom: 50px;
    }

    .buttons-slider {
        bottom: 250px;
    }

    .promo {
        height: 187px;
    }

    .promo-teatle {
        font-size: 24px;
        line-height: 24px;
        margin: 40px auto 0 46px;
        text-align: left;
    }

    .promo-text {
        font-size: 16px;
        line-height: 18px;
        margin: 37px auto 0 46px;
        text-align: left;
    }

    .promo-button {
        margin: -90px 43px auto auto;
    }

    .services {
        width: 100%;
    }

    .services-left {
        width: 100%;
    }

    .services-left:first-child {
        align-items: center;
    }

    .services-title {
        margin: 50px auto 30px auto;
        text-align: center;
    }

    .services-content {
        width: 100%;

    }

    .services-slogan {
        width: 100%;
        font-size: 24px;
        line-height: 26px;
        text-align: left;
        margin-left: 46px;
    }

    .services-manual {
        width: 600px;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 27px;
        text-align: left;
        margin-left: 46px;
    }

    .services-line {
        margin-left: 46px;

    }

    .services-items {
        width: 100%;
        margin: 105px auto 12px auto;
    }

    .services-icon-wrapper {
        width: 100%;

    }

    .services-icon {
        width: 50%;
    }

    .recent-work-pictures {
        margin-left: 53px;
        margin-right: 53px;
    }

    .recent-work-picture {
        width: 317px;
        height: 283px;
    }

    .recent-work-picture img {
        width: 317px;
        height: 283px;

    }

    .recent-work-picture-block {
        margin: 43px auto 43px auto;
    }

    .recent-work-picture-hover {
        width: 288px;
        height: 257px;
        top: -272px;
        left: 13px;

    }

    .video-wraper {
        margin: 40px auto;
    }

    .video-wraper-image {
        margin-left: 46px;
        margin-right: 34px;
    }

    .video-wraper-image img {
        width: 240px;
        height: 227px;
    }

    .video-wraper-content {
        position: relative;
        width: 50%;
        margin: auto;
    }

    .video-content {
        width: 407px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 21px;
        text-align: left;

    }

    .video-title {
        font-size: 36px;
        line-height: 38px;
        margin-bottom: 20px;
        margin-left: 0;
        text-align: left;
        width: 320px;
        height: 40px;

    }

    .video-line {
        margin-bottom: 27px;
        margin-left: 0;
    }

    .video-button {
        left: -80px;
        margin-left: 0;
        margin-right: 0;
    }

    .video-button a {
        font-size: 18px;
        line-height: 18px;

    }

    .latest-news-title {
        font-size: 36px;
        line-height: 38px;
        justify-content: center;
        margin-bottom: 30px;

    }

    .latest-news-line {
        margin-bottom: 50px;
    }

    .latest-news-wraper {
        width: 570px;

    }

    .latest-news-content {
        left: auto;
    }

    .testimonial-wraper .controls {
        margin-bottom: 40px;
        margin-top: 0%;
    }

    .testimonial-coma {
        margin-top: 60px;
    }

    .testimonial-slider {
        width: 687px;
    }

    .testimonial-text {
        font-size: 32px;
        line-height: 38px;
    }

    .testimonial-author {
        font-size: 20px;
        line-height: 23px;

    }

    .footer-di-gi {
        width: 230px;
        height: 60px;
    }

    .footer-wraper {
        height: 675px;
        top: -30px;

    }

    .footer-text {
        font-size: 32px;
        line-height: 32px;
        margin-left: 45px;
        margin-top: 114px;
        margin-bottom: 40px;

    }

    .footer-social {
        width: 690px;
        height: 70px;
        margin-left: 45px;
        margin-right: 45px;
        margin-top: 220px;
    }

    .footer-cell {
        width: 25%;
        height: 63px;
    }

    .footer-contact {
        border-left-style: hidden;
    }

    .footer-menu {
        border-right-style: hidden;
    }

    .footer-widgets {
        width: 690px;
        margin-left: 45px;
        margin-top: 360px;
        margin-bottom: 56px;
    }

    .footer-widget {
        width: 50%;
        margin-bottom: 40px;
    }

    .footer-widget a,
    .footer-address {
        font-size: 16px;
        line-height: 20px;
    }

    .footer-widget h1 {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 22px;

    }
}



/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
    body {
        width: 1024px;
    }

    h1 {
        font-size: 84px;
        line-height: 84px
    }

    .header-logo-link {
        padding-left: 0%;
        margin-left: 46px;
    }

    .dropdown-menu {
        margin-right: 46px;
        padding-right: 0%;
    }

    .intro {

        height: 618px;
        background-image: url(../images/intro-background1024.png);

    }

    .intro-teatle {
        width: 588px;
        margin: 80px auto 29px auto;
    }

    .intro-text {
        font-size: 18px;
        line-height: 20px;
        background-color: transparent;
        margin-bottom: 25px;
    }

    .intro-buttons {
        margin: 25px auto 112px auto;

    }

    .buttons-slider {
        bottom: 275px;

    }

    .buttons-slider img {
        width: 56px;
        height: 56px;
    }

    .promo {
        height: 160px;
    }

    .promo-teatle {
        font-size: 24px;
        line-height: 32px;
        margin: 40px auto 0 46px;
        text-align: left;
    }

    .promo-text {
        font-size: 14px;
        line-height: 16px;
        margin: 10px auto 0 46px;
        text-align: left;
    }

    .promo-button {
        margin: -68px 43px auto auto;
    }

    .services {
        width: 100%;
    }

    .services-left {
        width: 100%;
    }

    .services-left:first-child {
        align-items: center;
    }

    .services-title {
        margin: 52px auto 28px auto;
        text-align: center;
    }

    .services-content {
        width: 100%;

    }

    .services-slogan {
        width: 100%;
        font-size: 24px;
        line-height: 26px;
        text-align: left;
        margin-left: 46px;
    }

    .services-manual {
        width: 608px;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
        margin-left: 46px;
    }

    .services-line {
        margin-left: 46px;

    }

    .services-items {
        width: 100%;
        margin: 105px auto 12px auto;
    }

    .services-icon-wrapper {
        width: 100%;
    }

    .services-icon {
        width: 25%;
    }

    .recent-work-pictures {
        margin-left: 151px;
        margin-right: 151px;
    }

    .recent-work-picture {
        width: 317px;
        height: 283px;
    }

    .recent-work-picture img {
        width: 317px;
        height: 283px;

    }

    .recent-work-picture-block {
        margin: 43px auto 43px auto;
    }

    .recent-work-picture-hover {
        width: 288px;
        height: 257px;
        top: -272px;
        left: 13px;

    }

    .video-wraper {
        margin: 80px auto;
    }

    .video-wraper-image {
        margin-left: 40px;
        margin-right: 60px;
    }

    .video-wraper-image img {
        width: 401px;
        height: 380px;
    }

    .video-content {
        width: 470px;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 19px;

    }

    .video-title {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 15px;
        width: 192px;
        height: 52px;

    }

    .video-line {
        margin-bottom: 35px;

    }

    .video-button {
        left: 0;
    }

    .video-button a {
        font-size: 18px;
        line-height: 18px;
    }

    .latest-news-wraper {
        width: 932px;

    }

    .latest-news-title {
        font-size: 48px;
        line-height: 56px;

    }

    .latest-news-line {
        margin-bottom: 96px;

    }

    .latest-news-content {
        left: 40px;

    }

    .testimonial-wraper .controls {
        margin-bottom: 80px;
    }

    .testimonial-coma {
        margin-top: 100px;
    }

    .testimonial-slider {
        font-size: 32px;
        line-height: 38px;
    }

    .testimonial-author {
        font-size: 20px;
        line-height: 23px;

    }

    .footer-di-gi {
        width: 230px;
        height: 60px;
    }

    .footer-wraper {
        height: 690px;
        top: -30px;

    }

    .footer-text {
        font-size: 36px;
        line-height: 32px;
        margin-left: 43px;
        margin-top: 156px;
        margin-bottom: 80px;

    }

    .footer-social {
        width: 940px;
        height: 63px;
        margin-left: 43px;
        margin-right: 43px;
        margin-top: 300px;
    }

    .footer-cell {
        width: 25%;
        height: 63px;
    }

    .footer-contact {
        border-left-style: hidden;
    }

    .footer-menu {
        border-right-style: hidden;
    }

    .footer-widgets {
        width: 940px;
        margin-left: 43px;
        margin-top: 420px;
        margin-bottom: 137px;
    }

    .footer-widget {
        width: 25%;

    }

    .footer-widget a,
    .footer-address {
        font-size: 16px;
        line-height: 20px;
    }

    .footer-widget h1 {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 22px;

    }

}

/* Extra large devices (large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
    body {
        width: 1440px;
    }

    h1 {
        font-size: 96px;
        line-height: 96px
    }

    .header-logo-link {
        padding-left: 0%;
        margin-left: 153px;
    }

    .dropdown-menu {
        margin-right: 153px;
        padding-right: 0%;
    }

    .intro {
        height: 668px;
        background-image: url(../images/intro-background.png);

    }

    .intro-teatle {
        width: 514px;
        margin: 107px auto 18px auto;
    }

    .intro-text {
        font-size: 24px;
        height: 60px;
        line-height: 26px;
        background-color: transparent;
        margin-bottom: 28px;
    }

    .intro-buttons {
        margin: 28px auto 123px auto;

    }

    .buttons-slider {
        bottom: 300px;

    }

    .buttons-slider img {
        width: 70px;
        height: 70px;
    }

    .promo {
        height: 192px;
    }

    .promo-teatle {
        font-size: 24px;
        line-height: 32px;
        margin: 57px auto 0px 150px;
        text-align: left;
    }

    .promo-text {
        font-size: 16px;
        line-height: 18px;
        margin: 4px auto 0 150px;
        text-align: left;
    }

    .promo-button {
        margin: -72px 135px auto auto;
    }

    .services {
        width: auto;
    }

    .services-left {
        width: 516px;
        margin: 0 auto;

    }

    .services-title {
        width: 131px;
        margin: 90px auto 76px 62px;
        text-align: left;
    }

    .services-content {
        width: 393px;

    }

    .services-slogan {
        width: 393px;
        font-size: 24px;
        line-height: 26px;
        text-align: left;
        margin-left: 0px;
    }

    .services-manual {
        width: 351px;
        font-size: 18px;
        line-height: 24px;
        margin-left: 0%;
        text-align: left;
    }

    .services-line {
        margin-left: 0px;
        text-align: left;
    }

    .services-items {
        width: 921px;
        margin: auto;
    }

    .services-icon-wrapper {
        width: 853px;
        margin-top: 0px;
    }

    .services-icon {
        width: 25%;
    }

    .recent-work-pictures {
        margin-left: 151px;
        margin-right: 151px;
    }

    .recent-work-picture {
        width: 268px;
        height: 239px;
    }

    .recent-work-picture img {
        width: 268px;
        height: 239px;
    }

    .recent-work-picture-block {
        margin: 80px auto 80px auto;
    }

    .recent-work-picture-hover {
        width: 243px;
        height: 217px;
        top: -230px;
        left: 13px;

    }

    .recent-work-picture-hover a>img {
        width: 32px;
        height: 32px;
        margin: 0 5px;
    }

    .video-wraper {
        margin: 80px auto;
    }

    .video-wraper-image {
        margin-left: 150px;
        margin-right: 100px;
    }

    .video-wraper-image img {
        width: 470px;
        height: 430px;
    }

    .video-content {
        width: 506px;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 39px;
    }

    .video-title {
        width: 192px;
        height: 52px;
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 39px;

    }

    .video-line {
        margin-bottom: 39px;

    }

    .video-button {
        left: 0;
    }

    .video-button a {
        font-size: 18px;
        line-height: 18px;
    }

    .latest-news-wraper {
        width: 1153px;

    }

    .latest-news-title {
        font-size: 48px;
        line-height: 56px;

    }

    .latest-news-line {
        margin-bottom: 115px;

    }

    .latest-news-content {
        left: 10px;

    }

    .testimonial-coma {
        margin-top: 100px;
    }

    .testimonial-wraper .controls {
        margin-bottom: 80px;
    }

    .testimonial-slider {
        font-size: 36px;
        line-height: 42px;
    }

    .testimonial-author {
        font-size: 24px;
        line-height: 28px;

    }

    .footer-di-gi {
        width: 230px;
        height: 60px;
    }

    .footer-wraper {
        height: 700px;
        top: -30px;

    }

    .footer-text {
        font-size: 24px;
        line-height: 32px;
        margin-left: 150px;
        margin-top: 158px;
        margin-bottom: 80px;

    }

    .footer-social {
        width: 1153px;
        height: 63px;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 300px;
    }

    .footer-cell {
        width: 25%;
        height: 63px;
    }

    .footer-contact {
        border-left-style: hidden;
    }

    .footer-menu {
        border-right-style: hidden;
    }

    .footer-widgets {
        width: 1153px;
        margin-left: 150px;
        margin-top: 442px;
        margin-bottom: 80px;
    }

    .footer-widget {
        width: 25%;

    }

    .footer-widget a,
    .footer-address {
        font-size: 12px;
        line-height: 20px;
    }

    .footer-widget h1 {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 22px;

    }

    .copiryght-wraper a {
        margin-right: 140px;
    }

    .copiryght-wraper div {
        font-size: 16px;
        line-height: 19px;

    }

    /*<picture class="carusel-img">
		<source srcset="images/carusel-1-midi.jpg" media="(max-width: 600px)">
		<source srcset="images/carusel-1-max.jpg" media="(max-width: 1500px)">
		<source srcset="images/carusel-1-mini.jpg">
		<img src="images/carusel-1-max.jpg" style="width:100%;height:668px" alt="DiGi reklama">
	</picture>*/
}